table.cal{
 border:2px solid;
 border-radius:0px 0px 7px 7px;
 -webkit-border-radius:0px 0px 7px 7px;
 width: 60%;
 line-height: 120%;
}
tr:nth-child(odd){
 background-color: rosybrown;
}

tr:nth-child(even){
 background-color: teal;
}
caption{
 border: 3px solid black;
 border-radius: 7px 7px 0px 0px ;
 background-color: grey;
 color: white;
}
span{
 visibility: hidden;
}

td:active>span{
 visibility: visible;
}
td.holiday{
 background-color: cadetblue;
}